html {
  background-color: #2f3738;
}

body {
  background: url("./images/Red-Grouper.jpg")
    no-repeat center fixed;
  background-size: 100vw 100vh;
  color: white;
  font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
}
.center {
  text-align: center;
}
button, input, optgroup, select, textarea {
  font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
}

/* =========================== NAV Styling =========================== */
.nav-wrapper {
  background-color: #2f3738;
}
nav {
  background-color: #2a2d2e;
}
nav ul a {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
}
nav .brand a {
  height: -webkit-fill-available;
}
.cursive {
  display: inherit;
  font-family: "Rye", "Sans";
}
.btn-link {
  background: #000000;
}
.main-btn {
  height: 4rem;
  background: aqua;
}
.black-txt {
  color: black;
  font-weight: 700;
  font-size: 1.7rem;
  vertical-align: text-top;
}
.fas {
  line-height: inherit;
}
.fa-fish:before {
  margin-right: 10px;
}
.brand {
  height: 100%;
  margin-left: 1%;
  display: inline-block;
  background: black;
  padding: 12px 33px;
  margin-top: -5px;
  font-size: 33px;
}
nav .btn-link {
  position: relative;
  float: right;
  margin-top: 0.5%;
  margin-right: 35px;
  height: 40px;
  width: 135px;
  background: black;
}
nav .btn-link.sidenav-trigger{
  margin: 0;
  height: 100%;
  width: 100%;
}
nav .brand:active {
  background: #2bbbad!important;
}nav .brand:focus {
  background: #2bbbad!important;
}
.btn i {
  font-size: 141%;
  line-height: 326%;
}
.text-secondary {
  position: absolute;
  background: black;
  left: 15px;
  right: 15px;
  height: -webkit-fill-available;
}

/* =========================== SIDENAV Styling =========================== */
.sidenav-trigger {
  height: 100%;
}
.sidenav {
  background-color: #2f3738;
}
.sidenav .waves-effect {
  display: block;
  background-color: black;
}
.sidenav .waves-effect:hover {
  background-color: black;
}.sidenav .waves-effect:active {
  background-color: #2bbbad;
}.sidenav .waves-effect:focus {
  background-color: #2bbbad;
}
.sidenav-close i {
  float: right;
  margin-right: 10%;
  color: rgba(255, 255, 255, 0.8);
}

/* =========================== LOGIN styling =========================== */
input {
  color: white;
  max-width: 300px;
  margin: auto;
  width: 50%;
}
/* main tag */
main {
  min-height: 70vh!important;
}
/* container styling */
.mainContent {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  padding: 1em 1em 3em 1em;
  margin-top: 5em;
  width: 85%!important;
}
.form-container {
  width: 100%!important;
}
h6 {
  color: white;
  background-color: #647678;
  padding: 0.75em 0.75em 0.75em 0.75em;
  width: 85%;
  border-radius: 5px;
  opacity: 0.8;
}
.mainContent h6 {
  background-color: #515d60d6;
}
.game-header {
  color: #ffafff;
  margin-bottom: 2%;
}
.game-img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
img:hover {
  box-shadow: 0 0 10px 5px rgba(60, 165, 194, 0.8);
}
.game-description {
  color: ivory;
  margin-top: 0;
  margin-bottom: 10%;
}
.row .col.dead-link {
  height: 30rem;
  width: 42rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}

/* =========================== Calendar and Table Styling =========================== */
.react-calendar__navigation {
  height: 50px;
  font-size: 1.5rem;
}
.react-calendar__navigation .react-calendar__navigation__arrow {
  width: 50px;
}
.react-calendar__navigation .react-calendar__navigation__label {
  font-weight: 700;
}

.react-calendar__month-view__weekdays div {
  background: white;
  color: black;
  border: 1px solid black;
  font-size: 1.5rem;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__days button {
  max-width: 100px;
  min-height: 75px;
  font-size: 2rem;
}
.react-calendar__month-view__days button abbr {
  padding-inline: 3rem;
}

/* =========================== CAROUSEL Styling =========================== */
.awssld__bullets {
  bottom: auto;
}

.awssld__controls button:active {
  background-color: transparent;
}
.awssld__controls button:focus {
  background-color: transparent;
}

.awssld__content > img, .awssld__content > video {
  object-fit: contain;
}

/* =========================== MODAL Styling =========================== */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
.ReactModal__Content {
  background: darkgrey;
}

.modal-text {
  font-size: 1.5rem;
  color: #0095ff;
  margin-bottom: 3rem;
}

.yes-btn {
  font-size: 1.5rem;
  background-color: lawngreen;
  margin-right: 3rem;
}
.cancel-btn {
  font-size: 1.5rem;
  background: #f44336;
  margin-left: 3rem;
}

/* =========================== TABLE Styling =========================== */
.date {
  text-decoration: underline;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position:relative; 
  opacity: 1;
  pointer-events: none;
}
.dates-table {
  background: #515d6091;
  width: 70%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dates-table label {
  text-align: left;
  display: block;
  font-size: 1rem;
  color: white;
}
.dates-table p {
  margin: 20px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  border-bottom: 1px dashed white;
}
.dates-table input {
  margin:0 12px 0 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.account-info-header {
  padding-top: .5em;
  border-top: 1px solid dodgerblue;
}
.account-info {
  background: #515d6091;
  width: 70%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.row {
  border-bottom: 1px dashed white;
}
.column {
  float: left;
  width: 50%;
}
.column span.column-label {
  float: right;
  padding-right: 2em;
}
.column span.column-info {
  float: left;
}
.column .btn {
  margin-bottom: 20px;
}

.change-password-form {
  background: white;
}
.change-password-form label, .change-password-form input {
  color: black;
}

/* =========================== RATES PAGE STYLING =========================== */

.rates-section {
  background: #515d60d6;
  width: 70%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-wrap {
  margin: auto;
  border-style: solid;
  border-radius: 50%;
  height: 11rem;
  width: 11rem;
  margin-bottom: 2rem;
}
.img-border {
  position: relative;
}
.half-day-img {
  background: url("./images/Red-Grouper.jpg")
    no-repeat center;
  background-size: 10rem 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 0.25rem;
  right: 0.3rem;
}
.half-day-img:hover {
  height:9rem;
  width: 9rem;
  top: 0.7rem;
  right: 0.7rem;
}
.half-day-img:focus {
  height:9rem;
  width: 9rem;
  top: 0.7rem;
  right: 0.7rem;
}
/* =========================== FOOTER Styling =========================== */
#footer {
  background-color: #647678;
  max-height: 5%;
  margin-top: 60px;
}

#footer p {
  font-weight: 300;
}
#footer a {
  color: lightblue;
}

footer i {
  /* width: 175px; */
  font-size: 24px;
  margin-top: 0.5em;
}
.text-28 {
  font-size: 28px;
}

/* =========================== MEDIA Queryies =========================== */
@media only screen and (max-width: 993px) {
  body {
    background-size: 100vw 100vh;
  }
  .mainContent {
    width: 100% !important;
    padding: 0.2rem;
  }
  .react-calendar__month-view__days button abbr {
    padding-inline: 0.3rem;
  }
  .react-calendar__month-view__days button {
    max-width: 100px;
    min-height: 75px;
    font-size: 1.5rem;
  }
  input {
    width: 17%;
  }
  .react-calendar__navigation .react-calendar__navigation__label {
    font-size: 1.3rem;
}
}

/* media queries for navbar buttons */
@media only screen and (min-width: 993px) {
  .hide-on-large-and-up {
      display: none !important;
  }
}
@media only screen and (min-width: 993px) {
  .hide-on-large-and-up {
      display: none !important;
  }
}


